@tailwind base;
@tailwind components;
@tailwind utilities;
.css-953pxc-MuiInputBase-root-MuiInput-root::before{
    border: none !important;
  }

.css-4oe8v1-MuiFormControl-root-MuiTextField-root .MuiFormHelperText-root {
    font-size: 12px !important;
}

.css-4oe8v1-MuiFormControl-root-MuiTextField-root {
    border-bottom: 2px solid #e7e7e7 !important;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
    font-size: 1.1rem;
}
.css-14lo706>span{
    font-size: 1.25rem;
}
.google-login-button {
    font-size: 20px !important; /* Increase the font size */
    width: 300px; /* Optional: Set the width */
    height: 50px; /* Optional: Set the height */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .google-login-button div {
    font-size: 20px !important; /* Ensure the font size applies to inner elements */
  }
